.main {
  display: flex;
  height: 100%;
}

.main-left {
  flex: 1;
  background-color: cornsilk;
}

.main-right {
  background-color: gainsboro;
}

.main-arena {
  display: grid;
  height: 100%;
  grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);
}
